@import "tw-animate-css";
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0.147 0.004 49.25);
  --color-card: oklch(1 0 0);
  --color-card-foreground: oklch(0.147 0.004 49.25);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.147 0.004 49.25);
  --color-primary: oklch(0.59 0.22 1);
  --color-primary-foreground: oklch(0.97 0.01 343);
  --color-secondary: oklch(0.967 0.001 286.375);
  --color-secondary-foreground: oklch(0.21 0.006 285.885);
  --color-muted: oklch(0.97 0.001 106.424);
  --color-muted-foreground: oklch(0.553 0.013 58.071);
  --color-accent: oklch(0.97 0.001 106.424);
  --color-accent-foreground: oklch(0.216 0.006 56.043);
  --color-destructive: oklch(0.577 0.245 27.325);
  --color-border: oklch(0.923 0.003 48.717);
  --color-input: oklch(0.923 0.003 48.717);
  --color-ring: oklch(0.709 0.01 56.259);
  --color-chart-1: oklch(0.82 0.11 346);
  --color-chart-2: oklch(0.73 0.18 350);
  --color-chart-3: oklch(0.66 0.21 354);
  --color-chart-4: oklch(0.59 0.22 1);
  --color-chart-5: oklch(0.52 0.20 4);
  --radius: 0.625rem;
  --color-sidebar: oklch(0.985 0.001 106.423);
  --color-sidebar-foreground: oklch(0.147 0.004 49.25);
  --color-sidebar-primary: oklch(0.59 0.22 1);
  --color-sidebar-primary-foreground: oklch(0.97 0.01 343);
  --color-sidebar-accent: oklch(0.97 0.001 106.424);
  --color-sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --color-sidebar-border: oklch(0.923 0.003 48.717);
  --color-sidebar-ring: oklch(0.709 0.01 56.259);

  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

.dark {
  --color-background: oklch(0.147 0.004 49.25);
  --color-foreground: oklch(0.985 0.001 106.423);
  --color-card: oklch(0.216 0.006 56.043);
  --color-card-foreground: oklch(0.985 0.001 106.423);
  --color-popover: oklch(0.216 0.006 56.043);
  --color-popover-foreground: oklch(0.985 0.001 106.423);
  --color-primary: oklch(0.66 0.21 354);
  --color-primary-foreground: oklch(0.97 0.01 343);
  --color-secondary: oklch(0.274 0.006 286.033);
  --color-secondary-foreground: oklch(0.985 0 0);
  --color-muted: oklch(0.268 0.007 34.298);
  --color-muted-foreground: oklch(0.709 0.01 56.259);
  --color-accent: oklch(0.268 0.007 34.298);
  --color-accent-foreground: oklch(0.985 0.001 106.423);
  --color-destructive: oklch(0.704 0.191 22.216);
  --color-border: oklch(1 0 0 / 10%);
  --color-input: oklch(1 0 0 / 15%);
  --color-ring: oklch(0.553 0.013 58.071);
  --color-chart-1: oklch(0.82 0.11 346);
  --color-chart-2: oklch(0.73 0.18 350);
  --color-chart-3: oklch(0.66 0.21 354);
  --color-chart-4: oklch(0.59 0.22 1);
  --color-chart-5: oklch(0.52 0.20 4);
  --color-sidebar: oklch(0.216 0.006 56.043);
  --color-sidebar-foreground: oklch(0.985 0.001 106.423);
  --color-sidebar-primary: oklch(0.73 0.18 350);
  --color-sidebar-primary-foreground: oklch(0.97 0.01 343);
  --color-sidebar-accent: oklch(0.268 0.007 34.298);
  --color-sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --color-sidebar-border: oklch(1 0 0 / 10%);
  --color-sidebar-ring: oklch(0.553 0.013 58.071);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
